body{
    font: 20px arial serif;
}

.navbar{
    background-color: #838383;
}

.quem-somos{
    background-color: rgb(205, 219, 221);
    color: rgb(0, 0, 0);
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #838383;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}